/* Select
 * 
 * Styling Select mainly includes:
 * 
 * 1. Containers
 * 		.dijitSelect - for border, background-color
 * 		.dijitButtonContents - for border
 *
 * 2. Arrow
 * 		.dijitArrowButton - for border, padding and background-color|image
 * 		.dijitArrowButtonInner - for border, background-color|image, display and width|height
 * 
 * 3. Menu
 * 		.dijitSelectMenu .* - for border, padding
 * 
 * 4. Various states
 * 		.dijitSelectHover|.dijitSelectFocused|.dijitSelectDisabled .* - for border, padding and background-color|image 
 */
/* normal status */
.biotapestry .dijitSelect .dijitArrowButtonContainer {
  border: 1px solid #bdc4cb;
  background-color: #a19ca2;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  border: 1px solid gray;
  height: 24px;
}
.biotapestry .dijitSelect .dijitArrowButton {
  padding: 0;
  background-color: #a19ca2;
  background-image: url("../images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.biotapestry .dijitSelect .dijitArrowButton .dijitArrowButtonInner {
  height: 16px;
}
/* hover status */
.biotapestry .dijitSelectHover {
  background-color: #8c9fbd;
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-repeat: repeat-x;
}
.biotapestry .dijitSelectFocused,
.biotapestry .dijitSelectHover {
  border-color: #4e4e4e;
}
.biotapestry .dijitSelectHover .dijitArrowButton {
  background-color: #6080b6;
}
.biotapestry .dijitSelectHover .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* focused status */
.biotapestry .dijitSelectFocused .dijitArrowButton {
  background-color: #7dbefa;
  background-image: url("../images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.biotapestry .dijitSelectFocused .dijitArrowButton {
  border: none;
  padding: 1px;
}
.biotapestry .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* disable status */
.biotapestry .dijitSelectDisabled {
  border-color: #9a9a9a;
  background-color: #a19ca2;
  background-image: none;
  color: #323033;
}
.biotapestry .dijitSelectDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
/* Dropdown menu style for select */
.biotapestry .dijitSelectMenu td.dijitMenuItemIconCell,
.biotapestry .dijitSelectMenu td.dijitMenuArrowCell {
  /* so that arrow and icon cells from MenuItem are not displayed */

  display: none;
}
.biotapestry .dijitSelectMenu td.dijitMenuItemLabel {
  /* line up menu text with text in select box (in LTR and RTL modes) */

  padding: 2px;
}
.biotapestry .dijitSelectMenu .dijitMenuSeparatorTop {
  border-bottom: 1px solid #4e4e4e;
}
