/* TimePicker */
.dj_ie .biotapestry .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .biotapestry .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .biotapestry .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .biotapestry .dijitTimePickerRtl .dijitTimePickerTickSelected {
  margin-left: -6px;
  margin-right: -8px;
  width: 114%;
}
